{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Welcome</h1>
</div>
<h3>
    One of the most helpless feelings in the world involves watching a loved one addicted to drugs and not knowing how to help them. When someone’s spouse, child, parent, family member, or close friend find themselves lost in the world of addiction, the people who care about them want to know what concrete steps they can take to offer help.
    We’ve assembled a list of ideas to help address the situation and try to provide and inspiration.
</h3>
<a href="{{url_for('logout')}}" class="btn btn-primary">Logout</a>
{% endblock %}