{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Information</h1>
</div>
    <p>
        One of the most helpless feelings in the world involves watching a loved one addicted to drugs and not knowing how to help them. When someone’s spouse, child, parent, family member, or close friend find themselves lost in the world of addiction, the people who care about them want to know what concrete steps they can take to offer help.
        We’ve assembled a list of ideas to help address the situation and try to provide and inspiration.
    </p>
<h3>Recognize What It Means When a Loved One Is Addicted to Drugs</h3>
    <p>
        When a person is addicted to drugs or alcohol, they have a substance use disorder. It may be easy to think the individual doesn’t exercise self-control and could get better if they just stopped using drugs, but the situation is more complicated than that. Substance use disorders impact the brain and a person’s ability to think clearly. Their brain chemistry becomes accustomed to the effects of drug usage, often usurping the natural abilities of the brain and body.

Telling a loved one to simply stop using drugs and everything will be okay will not work. They need to enter formal treatment in order to receive guidance and monitoring while they work on beginning recovery. Taking the focus off demands to simply “snap out of it” and replacing them with attempts to point the person in the direction of agreeing to get help work better.
    </p>
<h3>Offer to Find Help for Loved Ones Addicted to Drugs</h3>
    <p>
        A person consumed by addiction may want to get help but does not possess the ability to seek out the right program and get started on beginning it. Their mental abilities may be compromised, as well as energy levels. Their loved ones can ask a doctor, therapist, or other clinical professionals for references to treatment programs. They can offer to help the individual contact their insurance company and take notes on the information given to them. From there, the family member
         or friend can assist in making phone calls, asking questions about treatment plans, filling out paperwork, and helping get their loved one signed up for the treatment they deserve.
    </p>
<h3>Do Not Assume Responsibility for a Loved One Addicted to Drugs</h3>
    <p>
        Often a loved one addicted to drugs finds themselves entangled in a co-dependent relationship with a loved one. The other person may try to take the blame for the reasons the individual turned to drug abuse or offers excuses to others as to why they cannot help themselves. Ultimately, the responsibility to decide to get help and stick with it belongs to the person with the addiction. While it can be painful to watch a person struggle and fall down repeatedly, it does them no favors to agree that getting sober is too hard or can be put off yet again.
         Regardless of the age of the loved one addicted to drugs, only they are responsible for their current station in life and where they go from here.
    </p>
<h3>Why Addiction Is Difficult To Overcome</h3>
    <p>
        Contrary to popular belief, quitting is not a matter of willpower or morality. Overcoming addiction is a struggle, even for someone who genuinely wants to stop using. This is because drug abuse actually changes how the brain functions over time.

Some substances, like Heroin, “fool” the brain into releasing certain neurochemicals, producing a euphoric high. Drugs like Cocaine or Methamphetamine cause the brain to release too much of the happiness-inducing chemical dopamine.

Both types of drugs alter the brain’s makeup in ways that make users chemically addicted to them.

People addicted to drugs or alcohol have developed a tolerance or resistance to their substance’s effects. People with a substance use disorder (SUD) will need more of their drug to reach the high they’re used to. Eventually, they’ll have to keep using to even feel normal. When someone addicted to a drug quits “cold turkey,” they can suffer painful withdrawal symptoms.
Withdrawal symptoms are some of the biggest reasons why quitting drugs or alcohol is so difficult.

To ensure your loved one’s safety, it’s important for them to get medical help to manage withdrawal and other health risks of quitting. Stopping use without professional supervision is not only difficult but often dangerous.
    </p>

{% endblock %}