{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Information</h1>
</div>
    <p>
        One of the most helpless feelings in the world involves watching a loved one addicted to drugs and not knowing how to help them. When someone’s spouse, child, parent, family member, or close friend find themselves lost in the world of addiction, the people who care about them want to know what concrete steps they can take to offer help.
        We’ve assembled a list of ideas to help address the situation and try to provide and inspiration.
    </p>
<h1>Recognize What It Means When a Loved One Is Addicted to Drugs</h1>
    <p>
        When a person is addicted to drugs or alcohol, they have a substance use disorder. It may be easy to think the individual doesn’t exercise self-control and could get better if they just stopped using drugs, but the situation is more complicated than that. Substance use disorders impact the brain and a person’s ability to think clearly. Their brain chemistry becomes accustomed to the effects of drug usage, often usurping the natural abilities of the brain and body.

Telling a loved one to simply stop using drugs and everything will be okay will not work. They need to enter formal treatment in order to receive guidance and monitoring while they work on beginning recovery. Taking the focus off demands to simply “snap out of it” and replacing them with attempts to point the person in the direction of agreeing to get help work better.
    </p>
<h1>Offer to Find Help for Loved Ones Addicted to Drugs</h1>
    <p>
        A person consumed by addiction may want to get help but does not possess the ability to seek out the right program and get started on beginning it. Their mental abilities may be compromised, as well as energy levels. Their loved ones can ask a doctor, therapist, or other clinical professionals for references to treatment programs. They can offer to help the individual contact their insurance company and take notes on the information given to them. From there, the family member
         or friend can assist in making phone calls, asking questions about treatment plans, filling out paperwork, and helping get their loved one signed up for the treatment they deserve.
    </p>

{% endblock %}