{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Resources</h1>
</div>
{% for resource in resources %}
<div class="row">
    <div class="col-sm-3">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{resource.title}}</h5>
      <p class="card-text">{{resource.description}}</p>
      <a href="{{resource.link}}" class="btn btn-primary">Website</a>
    </div>
  </div>
</div>
</div>
</div>
{% endfor %}
<form method="POST" action="/resources">
    {{form.hidden_tag()}}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Add Resource</legend>
        <div class="form-group">
            {{form.title.label()}}
            {{form.title}}
        </div>
        <div class="form-group">
            {{form.description.label()}}
            {{form.description}}
        </div>
        <div class="form-group">
            {{form.link.label()}}
            {{form.link}}
        </div>
        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
        </div>
    </fieldset>
</form>
{% endblock %}