{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Support Groups</h1>
</div>
<div class="card-container">
{% for group in groups %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{group.name}}</h5>
      <p class="card-text">{{group.description}}</p>
      <a href="{{group.link}}" class="btn btn-primary">Website</a>
    </div>
  </div>
  {% endfor %}
</div>
<form method="POST" action="/support_group">
    {{form.hidden_tag()}}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Add Support Group</legend>
        <div class="form-group">
            {{form.name.label()}}
            {{form.name}}
        </div>
        <div class="form-group">
            {{form.description.label()}}
            {{form.description}}
        </div>
        <div class="form-group">
            {{form.link.label()}}
            {{form.link}}
        </div>
        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
        </div>
    </fieldset>
</form>
{% endblock %}
