html {
    display: flex;
    justify-content: center;
    padding-top: 500px;
}

a {
    color: white;
}

.btn {
    color: white;
    border-color: white;
}

.login-body {
    background-image: url('/src/images/How-to-help-an-addicted-family-member.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
}

